<!-- <app-user /> -->

<div class="barcelona-section">
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>
  <h2>FC Barcelona</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/4/47/FC_Barcelona_%28crest%29.svg"
    alt="FC Barcelona Logo"
    class="logo"
  />
  <p>
    El FC Barcelona es uno de los clubes más grandes del mundo, conocido por su
    estilo de juego y su cantera.
  </p>
  <ul>
    <li>🏆 5 Champions League</li>
    <li>🏆 27 Ligas de España</li>
    <li>🏆 3 Mundiales de Clubes</li>
  </ul>

  @defer(on viewport) {
    <app-comments/>
  } @placeholder {
    <h2>Full page loaded</h2>
  } @loading {
    <h2>Loading...</h2>
  }
</div>

